@layer utilities {
    .btn-radial {
      background: radial-gradient(circle, rgba(253, 245, 245, 0.028) 0%, rgb(27, 26, 26) 100%);
     
      
    }
    .gradient-border-btn {
        position: relative;
        padding: 2px 24px;
        color: #fff;
        border: none;
        border-radius: 8px;
        z-index: 0;
        cursor: pointer;
        isolation: isolate; /* muhim: ::before ni to'g'ri ko'rsatadi */
      }
      
      .gradient-border-btn::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 2px; /* border qalinligi */
        border-radius: 8px;
        background: radial-gradient(circle, rgba(255, 255, 255, 0.272) 0%, rgb(22, 22, 22) 100%);
        -webkit-mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: -1;
        box-sizing: border-box;
        pointer-events: none;
      }
      
  }
  