#imgIntro{
  animation: rotateShadow 3.5s linear infinite;
  transition: transform 0.3s ease;
}
#intro{

  .gradient-border-btn {
    position: relative;
    padding: 12px 24px;
    color: #fff;
    border: none;
    border-radius: 8px;
    z-index: 0;
    cursor: pointer;
    isolation: isolate; 
  }
  
  .gradient-border-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px; 
    border-radius: 8px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.508) 0%, rgb(70, 67, 67) 100%);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    box-sizing: border-box;
    pointer-events: none;
  }
}
@keyframes rotateShadow {
  0% {
    filter: drop-shadow(40px 0px 80px rgba(90, 0, 219, 0.8)); 
  }
  25% {
    filter: drop-shadow(0px 40px 80px rgba(90, 0, 219, 0.8));  
  }
  50% {
    filter: drop-shadow(-40px 0px 80px rgba(90, 0, 419, 0.8)); // chap
  }
  75% {
    filter: drop-shadow(0px -40px 80px rgba(90, 0, 419, 0.8)); // yuqori
  }
  100% {
    filter: drop-shadow(40px 0px 80px rgba(90, 0, 219, 0.8));  // yana o‘ng
  }
}

