#servicePage{

   
    #miniCardParent{
        background-image: url('/assets/images/Layer\ 1\ copy\ 2\ 6.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 540px;        
        #img2{
            box-shadow: rgba(46, 72, 240, 0.4) -5px 3px, rgba(46, 65, 240, 0.3) -10px 6px, rgba(46, 49, 240, 0.2) -15px 9px, rgba(82, 46, 240, 0.1) -20px 12px, rgba(88, 46, 240, 0.05) -25px 15px, rgba(88, 46, 240, 0.05) -30px 18px, rgba(88, 46, 240, 0.05) -35px 21px, rgba(88, 46, 240, 0.05) -40px 24px,;
        }
        #img3{
            animation: flowBlueShadow 4s linear infinite;
            transition: box-shadow 3.3s ease;
            box-shadow: rgba(46, 72, 240, 0.4) 5px -3px, rgba(46, 65, 240, 0.3) 10px -6px, rgba(46, 49, 240, 0.2) 15px -9px, rgba(82, 46, 240, 0.1) 20px -12px, rgba(88, 46, 240, 0.05) 25px -15px, rgba(88, 46, 240, 0.05) 30px -18px, rgba(88, 46, 240, 0.05) 35px -21px, rgba(88, 46, 240, 0.05) 40px -24px,;
        }
        #img1{
            box-shadow: rgba(46, 72, 240, 0.4) 5px 3px, rgba(46, 65, 240, 0.3) 10px 6px, rgba(46, 49, 240, 0.2) 15px 9px, rgba(82, 46, 240, 0.1) 20px 12px, rgba(88, 46, 240, 0.05) 25px 15px, rgba(88, 46, 240, 0.05) 30px 18px, rgba(88, 46, 240, 0.05) 35px 21px, rgba(88, 46, 240, 0.05) 40px 24px, rgba(88, 46, 240, 0.05) 45px 27px, rgba(120, 46, 240, 0.05) 50px 30px, rgba(149, 46, 240, 0.05) 55px 33px,;
        }
    }
}
@keyframes flowBlueShadow {
    0% {
      box-shadow:
        rgba(46, 72, 240, 0.8) 5px -3px,
        rgba(46, 65, 240, 0.7) 10px -6px,
        rgba(46, 49, 240, 0.6) 15px -9px,
        rgba(82, 46, 240, 0.5) 20px -12px,
        rgba(88, 46, 240, 0.4) 25px -15px,
        rgba(88, 46, 240, 0.3) 30px -18px,
        rgba(88, 46, 240, 0.2) 35px -21px,
        rgba(88, 46, 240, 0.1) 40px -24px;
    }
  
    25% {
      box-shadow:
        rgba(88, 46, 240, 0.09) 5px -3px,
        rgba(46, 72, 240, 0.8) 10px -6px,
        rgba(46, 65, 240, 0.7) 15px -9px,
        rgba(46, 49, 240, 0.6) 20px -12px,
        rgba(82, 46, 240, 0.5) 25px -15px,
        rgba(88, 46, 240, 0.4) 30px -18px,
        rgba(88, 46, 240, 0.3) 35px -21px,
        rgba(88, 46, 240, 0.2) 40px -24px;
    }
  
    50% {
      box-shadow:
        rgba(46, 72, 240, 0.4) 5px -3px,
        rgba(46, 65, 240, 0.3) 10px -6px,
        rgba(46, 49, 240, 0.2) 15px -9px,
        rgba(82, 46, 240, 0.1) 20px -12px,
        rgba(88, 46, 240, 0.05) 25px -15px,
        rgba(88, 46, 240, 0.05) 30px -18px,
        rgba(88, 46, 240, 0.05) 35px -21px,
        rgba(88, 46, 240, 0.05) 40px -24px;
    }
    75% {
        box-shadow:
          rgba(46, 72, 240, 0.4) 5px -3px,
          rgba(46, 65, 240, 0.3) 10px -6px,
          rgba(46, 49, 240, 0.2) 15px -9px,
          rgba(82, 46, 240, 0.1) 20px -12px,
          rgba(88, 46, 240, 0.05) 25px -15px,
          rgba(88, 46, 240, 0.05) 30px -18px,
          rgba(88, 46, 240, 0.05) 35px -21px,
          rgba(88, 46, 240, 0.05) 40px -24px;
      }
      100% {
        box-shadow:
          rgba(46, 72, 240, 0.4) 5px -3px,
          rgba(46, 65, 240, 0.3) 10px -6px,
          rgba(46, 49, 240, 0.2) 15px -9px,
          rgba(82, 46, 240, 0.1) 20px -12px,
          rgba(88, 46, 240, 0.05) 25px -15px,
          rgba(88, 46, 240, 0.05) 30px -18px,
          rgba(88, 46, 240, 0.05) 35px -21px,
          rgba(88, 46, 240, 0.05) 40px -24px;
      }
  }
  